@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
/* banner section style starts here */
.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background-image:
    linear-gradient(to bottom, rgba(7, 2, 17), rgba(7, 2, 17, 0)),
    url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    
}
.banner-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.banner-title{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.banner-subtitle{
   font-size: 35px;
   font-weight: 900;
}
/* second section style starts here */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;

}
.second-section-content{
    text-align: center;
}
.second-section-heading{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.second-section-subheading{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.second-section-lastline{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

  
.second-section-img{
    height: 450px;
    width: 800px;
   
}
/* midnight party styles starts here */
.midnight-party-container{
    width: 1320px;
    height: 600px;
    border:2px solid red;
    margin: 0 auto;
    margin-top: 120px;
    background-image: linear-gradient(to right, rgba(7, 2, 17), rgba(7, 2, 17, 0)), url(../images/Vectorrr.png);
    border-radius: 16px;
    margin-bottom: 120px;
}
.midnight-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}
.midnight-heading{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    padding-bottom: 26px;
}
.midnight-descrip{
    color: rgba(255, 255, 255, 0.664);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 40px;
}
.midnight-btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
}

.midnight-img{
    margin-top: 68px;
    
}
/* date time section styles starts here */
.date-time-container{
    width: 1320px;
    height: 482px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);

}
.date-time-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 482px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 100px;
    
    

}
.date-time-content span{
    color: rgb(255, 0, 0);
}
.date-time-content button{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
padding: 16px 32px 16px 32px;
border-radius: 8px;
background: rgb(255, 0, 0);


}
.date-time-content p{
    padding-bottom: 7px;
}

    
   
